#box{
    width:200px;
    height:200px;
    background-color:red;
    margin-left: 50%;
    margin-top:20%;
}
#counter-text{
    width:300px;
    height:200px;
/*     background-color:red; */
    margin-left: 47%;
    margin-top: 50px;
    
}

span{
    display:inline-block;
    font-size:1.6rem;
}
p{
    font-size:1.6rem;
    display:inline-block;
}
